ltable {
  width: 50%;
  margin: auto;
}

td {
  height: 50px;
  width: 50px;
  text-align: center;
}

tr {
  background-color: rgb(180, 150, 29);
  color: azure;
  height: 50px;
  width: 50px;
  text-align: center;
  font-family: monospace;
  font-weight: 900;
}

h1 {
  text-align: center;
}
