.origen {
  display: inline-block;
  width: 30vw;
  height: 20vh;
  opacity: 50;
  background-color: yellow;
}

.destino {
  display: inline-block;
  width: 30vw;
  height: 20vh;
  border: 5px solid black;
}
